In [ ]:
#A1-Difference b/w a funtion and a method in a python
#Functions
#two types of funtions
#1-pre-defined functions
#2-user -defined funtions

In [2]:
#1-pre-defined functions
#Examples
print("hello world")

hello world

In [3]:
type(6.7)

float

In [4]:
type(6)

int

In [ ]:
#functions>>print,len,type are in-built python functions
#functions are reusable

In [6]:
#User-Defined FUNCTIONS
#syntax
#def func():
    #do something>>body of function

#Example
#code
def greetings():
    print("Welcome to the office")
   
greetings()

Welcome to the office

In [ ]:
#A2-Arguements and parameters in python

In [7]:
#passing a variable inside a function
def greetings(name):
    print("Welcome to the office",name)
    
greetings("AJAY")

Welcome to the office AJAY

In [8]:
greetings("VIJAY")

Welcome to the office VIJAY

In [9]:
greetings("SANJAY")

Welcome to the office SANJAY

In [10]:
def greetings():#>>output of a function
    #do something
    return("Welcome to the office")
greetings()

'Welcome to the office'

In [17]:
greetings() + "-AJAY"

'Welcome to the office-AJAY'

In [14]:
#ARGUEMENTS
def sq_no(a):#a is called arguement
    return a*a
sq_no(5)

25

In [15]:
def addition(a,b):#a and b are positional arguements and treated in order
    return a+b
addition(5,6)

11

In [16]:
def sum1(a,b,c):
    return a+b+c
sum1(1,2,3)

6

In [17]:
#default arguement
def sum1(b,c,a=0):#default arguements is passed to function in the last
    return a+b+c
sum1(b=3,c=2)

5

In [18]:
def add():
    a=int(input("Enter 1st no."))
    b=int(input("Enter 2nd no."))
    return a+b
add()

Enter 1st no. 8
Enter 2nd no. 7

15

In [20]:
#A3-Different ways to define and call a function
def func():
    return("Welcome to the office",4,4.6,3+5j)
func()

('Welcome to the office', 4, 4.6, (3+5j))

In [21]:
type(func())

tuple

In [22]:
a,b,c,d=func()

In [23]:
a

'Welcome to the office'

In [24]:
b

4

In [25]:
c

4.6

In [26]:
d

(3+5j)

In [27]:
a=func()
a[0]

'Welcome to the office'

In [28]:
a[1]

4

In [29]:
a[2]

4.6

In [30]:
a[3]

(3+5j)

In [1]:
def func():
    calc=2+2+3*10
    return calc

In [2]:
func()

34

In [3]:
type(func())

int

In [4]:
def sq_no(a):#a is called arguement
    return a*a
sq_no(5)

25

In [7]:
def addition(a,b):#a and b are positional arguements and treated in order
    return a+b
addition(5,6)

11

In [8]:
addition("pw","skills")

'pwskills'

In [9]:
addition(b="skills",a="pw")

'pwskills'

In [10]:
def sum1(a,b,c):
    return a+b+c
sum1(1,2,3)

6

In [12]:
#default arguement
def sum1(b,c,a=0):#default arguements is passed to function in the last
    return a+b+c
sum1(b=3,c=2)

5

In [13]:
def add():
    a=int(input("Enter 1st no."))
    b=int(input("Enter 2nd no."))
    return a+b
add()

Enter 1st no. 5
Enter 2nd no. 6

11

In [19]:
#A4-Purpose of return statement in a python function
#code
def func():
    return("Welcome to the office",4,4.6,3+5j)
func()

('Welcome to the office', 4, 4.6, (3+5j))

In [20]:
type(func()) #return statement gives the actual value when something is passed in the function body 
              #whether tuple, int,float

tuple

In [21]:
#example and code
def func():
    calc=2+2+3*10
    return calc
func()

34

In [22]:
type(func())

int

In [ ]:
#A5- iterators in Python and how do they differ from iterables

In [2]:
#iterables
#An iterable is any python object /sequentialstr/data str that is capable of returning
#its members one at a time
#using a for loop
#example>>list,tuples
lis=[1,2,"Ajay"]  #lis is an iterable object
for i in lis:
    print (i)

1
2
Ajay

In [3]:
for i in 6:
    print(i)

TypeError: 'int' object is not iterable

In [4]:
#iteration is a process of looping through the elements of an iterable(list, string)
#using a loop
#process of returning the element one by one is iteration
#example
for i in "pwskills":
    print(i)

p
w
s
k
i
l
l
s

In [ ]:
#iterator
#object representing a stream of data>>return the data one by one
#Analogy
#potato-iterable-cannot be cooked in original form
#chop/wash the potato>>ready for cooking>>iterator
#the process of cooking is iteration

In [7]:
s= "pwskills"  #string is iterable
for i in s:     #how python decided that s should b iterated>>then comes the concept of iterator
    print(i)

p
w
s
k
i
l
l
s

In [8]:
#python>>can i prepare s for iteration
iter(s)   #iterator object >>ready to be iterated

In [10]:
a=iter(s)
a

In [11]:
next(a)

'p'

In [12]:
next(a)

'w'

In [13]:
next(a)

's'

In [14]:
next(a)

'k'

In [15]:
next(a)

'i'

In [16]:
next(a)

'l'

In [17]:
next(a)

'l'

In [18]:
next(a)

's'

In [ ]:
s= "pwskills"   #first converting the iterable string to iterator object using iter()
for i in s:     #and then access using next
    print(i)

In [23]:
l= iter([1,2,3,4])

In [24]:
l

In [25]:
next(l)

1

In [26]:
next(l)

2

In [27]:
next(l)

3

In [28]:
next(l)

4

In [29]:
t=iter((1,2,3,4))
t

In [30]:
next(t)

1

In [31]:
next(t)

2

In [32]:
next(t)

3

In [33]:
next(t)

4

In [34]:
t=iter({1,2,3,4})
t

In [35]:
next(t)

1

In [36]:
next(t)

2

In [37]:
next(t)

3

In [38]:
next(t)

4

In [ ]:
#A6- concept of generators in Python and how they are defined

In [ ]:
#generator function

In [ ]:
#regular function>>takes a list and gives square of each of the list

In [9]:
def square_no(n):
    result=[]
    for i in n:
        result.append(i ** 2)
    return result
square_no([5,10,15])

[25, 100, 225]

In [10]:
#regular function calculates the square of the values and return in one go
#since its returning in one go >>memory usage will b more
#it will take a lot of execution time if there is a lot of computation as
#all the computuation will b done first and then calculation will b returned in one go
def square_no(n):
    result=[]
    for i in range(n):
        result.append(i ** 2)
    return result
square_no(10)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [11]:
#can we have something to generate result one by one instead of one go
#regular function uses a return statement but a generator function uses yield
def square_no_generator(n):
    for i in range(n):
        yield i**2
    
square_no_generator(10)  #yield is creating a generator similar to iterator object

In [13]:
gen=square_no_generator(10)
next(gen)

0

In [14]:
next(gen)

1

In [15]:
next(gen)

4

In [16]:
next(gen)

9

In [ ]:
#keep going til u get all the square nos

In [ ]:
#A7- the advantages of using generators over regular functions

In [17]:
#regular function calculates the square of the values and return in one go
#since its returning in one go >>memory usage will b more
#it will take a lot of execution time if there is a lot of computation as
#all the computuation will b done first and then calculation will b returned in one go
def square_no(n):
    result=[]
    for i in range(n):
        result.append(i ** 2)
    return result
square_no(10)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [18]:
#can we have something to generate result one by one instead of one go
#regular function uses a return statement but a generator function uses yield
def square_no_generator(n):
    for i in range(n):
        yield i**2
    
square_no_generator(10)  #yield is creating a generator similar to iterator object

In [19]:
gen=square_no_generator(10)
next(gen)

0

In [20]:
next(gen)

1

In [21]:
next(gen)

4

In [22]:
next(gen)

9

In [23]:
next(gen)

16

In [ ]:
##keep going til u get all the square nos

In [ ]:
#A8- lambda function in Python and when is it typically used

In [ ]:
#lambda Function>>anonymous function or short-hand function

In [ ]:
#syntax
#Lambda arguements:expression>>no need of return statement and def keyword

In [24]:
def square(x):
    return x**2
square(2)

4

In [26]:
#doung above ex using lambda funtion>>lambda converts two lines of code into single code
sq_lambda=lambda x:x**2
sq_lambda(2)

4

In [27]:
#adding 2 nos using lambda
add=lambda a,b:a+b
add(2,5)

7

In [ ]:
#A9- the purpose and usage of the `map()` function in Python.

In [ ]:
# map()>>executes a specified function for each item of an iterable
#syntax>>  map(func ,*iterables)

In [31]:
#code
l=[1,2,3,4,5]
def square(l):
    sq=[]
    for i in l:
        sq.append(i**2)
    return sq
square(l)

[1, 4, 9, 16, 25]

In [34]:
#Using map()
def sq(x):
    return x**2
l

[1, 2, 3, 4, 5]

In [35]:
#map(func,iterable)
list(map(sq,l))

[1, 4, 9, 16, 25]

In [ ]:
#A10-difference between `map()`, `reduce()`, and `filter()` functions in Python

In [ ]:
# map()>>executes a specified function for each item of an iterable
#syntax>>  map(func ,*iterables)

In [36]:
#code
l=[1,2,3,4,5]
def square(l):
    sq=[]
    for i in l:
        sq.append(i**2)
    return sq
square(l)

[1, 4, 9, 16, 25]

In [37]:
#Using map()
def sq(x):
    return x**2
l

[1, 2, 3, 4, 5]

In [38]:
#map(func,iterable)
list(map(sq,l))

[1, 4, 9, 16, 25]

In [41]:
#reduce>>folding or reduction
#syntax>>reduce(func,iterable)
#reduce will always take 2 arguement functions
from functools import reduce

In [ ]:
l=[2,1,3,4,4,5,6]

In [42]:
reduce (lambda x,y:x+y, l)

25

In [43]:
#filter function>>used to filter elements from an iterable based on some condition
#syntax>>filter(func,iterable)
#code
l

[2, 1, 3, 4, 4, 5, 6]

In [44]:
#getting even nos. from the list
list(filter(lambda x: x%2==0 ,l))

[2, 4, 4, 6]

In [45]:
#getting odd nos. from the list
list(filter(lambda x: x%2!=0 ,l))

[1, 3, 5]

In [48]:
#example
def check_even(num):
    if num%2==0:
        return True
    return False
num=[1,2,4,6,8,9,10]
list(filter(check_even,num))

[2, 4, 6, 8, 10]

In [ ]:
#PRACTICALQUESTIONS

In [6]:
#A1-a Python function that takes a list of numbers as input and returns the sum of all even numbers in
#the list
#code

def sum_even(n):
    s=0
    for i in n:
        if i%2==0:
            s=s+i
    return s
sum_even([1,2,5,6,7,8,10])

26

In [7]:
#another list
sum_even([1,3,6,8,13,16,18,20,24,26,28,30])

176

In [5]:
#A2- Python function that accepts a string and returns the reverse of that string.
def str_rev(x):
    return x[::-1]
txt=str_rev("My Name is Mahin")
print(txt)

nihaM si emaN yM

In [11]:
# A3-Python function that takes a list of integers and returns a new list containing the squares of
#each no.
#code
def square_no(n):
    result=[]
    for i in range(n):
        result.append(i ** 2)
    return result
square_no(10)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [2]:
square_no(20)

[0,
 1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361]

In [25]:
#A4- a Python function that checks if a given number is prime or not from 1 to 200.
#code
from sympy import isprime

number=49

if isprime(number):
    print(f"{number} is a prime no.")
else:
    print(f"{number} is not a prime no.")

49 is not a prime no.

In [12]:
#A5-an iterator class in Python that generates the Fibonacci sequence up to a specified number of
#terms
#code
#fibinacci series>>sum of last two nos>>0,1,1,2,3,5,8....
def fib(n):
    a=0
    b=1
    for i in range(n):
        yield a 
        a ,b =b, a+b
f=fib(100)
f

In [13]:
next(f)

0

In [14]:
next(f)

1

In [15]:
next(f)

1

In [16]:
next(f)

2

In [17]:
next(f)

3

In [18]:
next(f)

5

In [19]:
next(f)

8

In [ ]:
#fibonacci series goes so on....

In [26]:
#A6- a generator function in Python that yields the powers of 2 up to a given exponent
#code
def square_no_generator(n):
    for i in range(n):
        yield i**2
    
square_no_generator(10)

In [27]:
gen=square_no_generator(10)
next(gen)

0

In [28]:
next(gen)

1

In [29]:
next(gen)

4

In [30]:
next(gen)

9

In [31]:
next(gen)

16

In [32]:
next(gen)

25

In [33]:
next(gen)

36

In [34]:
next(gen)

49

In [35]:
next(gen)

64

In [36]:
next(gen)

81

In [ ]:
#A7- a generator function that reads a file line by line and yields each line as a string

In [20]:
#A8-lambda function in Python to sort a list of tuples based on the second element of each tuple
#code
# Create a list of tuples named 'subject_marks', each tuple containing a subject and its corresponding marks
subject_marks = [('English', 88), ('Science', 90), ('Maths', 97), ('Social sciences', 82)]

# Display the original list of tuples 
print("Original list of tuples:")
print(subject_marks)

# Sort the 'subject_marks' list of tuples based on the second element of each tuple (the marks),
# using a lambda function as the sorting key to extract the second element
subject_marks.sort(key=lambda x: x[1])

# Display the sorted list of tuples to the console
print("\nSorting the List of Tuples:")
print(subject_marks)

Original list of tuples:
[('English', 88), ('Science', 90), ('Maths', 97), ('Social sciences', 82)]

Sorting the List of Tuples:
[('Social sciences', 82), ('English', 88), ('Science', 90), ('Maths', 97)]

In [ ]:
#A9- a Python program that uses `map()` to convert a list of temperatures from Celsius to Fahrenheit

In [ ]:
#A10-a Python program that uses `filter()` to remove all the vowels from a given string